block variables
  - var HOMEPAGE = false;

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/bootstrap.js')
  body
    include ./includes/navbar.jade

    if HOMEPAGE
      include ./includes/showcase.jade

    .container
      block content

      hr
      footer
        p © 2016 Company, Inc.
    // /container
